<div class="form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-signup">

        <h2><%= current_user.first_name %>, complétez votre profil </h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :gender, collection: ["M.", "Mme"], label: ""  %>
            <%= f.input :first_name, label: "Prénom" %>
            <%= f.input :last_name, label: "Nom de famille"  %>
            <%= f.input :address, label: "Adresse"  %>
            <%= f.input :birthday, label: "Date de naissance"%>
            <%= f.input :birth_place, label: "Lieu de naissance"%>
            <%= f.input :photo_url, as: :file, label: "Photo" %>
            <%= f.input :photo_url_cache, as: :hidden %>

            <%= f.input :password,
                        hint: "À laisser vide s'il ne change pas",
                        label: "Nouveau mot de passe",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        label: "Mot de passe actuel",
                        hint: "Nous en avons besoin pour valider les modifications",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Mettre à jour" %>
          </div>
        <% end %>

        <p> Pas content ? <%= link_to "Supprimer votre compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete %></p>

        <%= link_to "Retour", :back %>
      </div>
    </div>
  </div>
</div>


