<div class="main-width">
  <div class="tag-info">
    <div class="public-tag">
      <p>Public</p>
      <i class="fas fa-eye"></i>
    </div>
    <p class="xsmall">
      Ces informations seront visibles pour les investisseurs
    </p>
  </div>


  <h1>Data Room</h1>
  <p>Opération : <%= @operation.category %> - <%= @operation.name %></p>
  <hr>

  <div class= "container-add-sdocument" style='display: flex; justify-content: space-between;'>
    <div class="doc-container">
      <% @operation.s_documents.each do |sdoc| %>
        <%= link_to operation_s_document_path(@operation, sdoc), target: :_blank do %>
          <div class="doc-card partition">
            <div class="doc-card-body">
              <div class="doc-card-avatar"><i class="fas fa-file-pdf"></i></div>
              <div class="doc-card-header"><%= sdoc.title %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='home-card form-add-sdocument'>
      <div class = 'home-card-header'>
        <h4 class="card-title">Ajouter un nouveau document</h4>
      </div>
      <div>
        <%= simple_form_for [@operation, @s_document] do |f| %>
         <%= f.input :title, label: "Titre" %>
         <%= f.input :category, collection: ["Statuts", "Kbis", "Pitch", "Comptes", "Autre"], label: "Catégorie" %>
         <%= f.input :d_url, as: :file, label: "Document (jpg ou pdf)" %>
         <%= f.input :d_url_cache, as: :hidden %>
         <%= f.button :submit, "Ajouter" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="text-align-center">
  <%= link_to  operation_path(@operation) do %>
    <button style="button" class="btn-transparent-small">Revenir à l'opération</button>
  <% end %>
</div>
