<div class="sidebar">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag "logo.png", id: "superclosing-logo" %>
  <% end %>

  <div class="sidebar-nav">

    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-columns"><span id="sidebar-item-1"><span class="sidebar-letter-color">D</span>ashboard</span></i>
      <% end %>
    </div>

    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-chart-pie"><span id="sidebar-item-2"><span class="sidebar-letter-color">C</span>ap<span class="sidebar-letter-color">T</span>able</span></i>
      <% end %>
    </div>


    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-rocket"><span id="sidebar-item-3"><span class="sidebar-letter-color">O</span>pérations</span></i>
      <% end %>
    </div>

    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="far fa-calendar-alt"><span id="sidebar-item-4"><span class="sidebar-letter-color">A</span>genda</span></i>
      <% end %>
    </div>
  </div>

</div>

