<div class="sidebar">
  <!-- Logo -->
  <%= link_to "SuperClosing", root_path, class: "sidebar-superclosing-brand" %>

  <ul class="sidebar-nav">

    <li class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-columns"></i> Dashboard
      <% end %>
    </li>

    <li class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-chart-pie"></i> Cap Table
      <% end %>
    </li>


    <li class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-rocket"></i> Opérations
      <% end %>
    </li>

    <li class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="far fa-calendar-alt"></i> Agenda
      <% end %>
    </li>

  </ul>
</div>

