<div class="sidebar">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag "logo_small.png", id: "superclosing-logo" %>
  <% end %>


    <div class="dropdown">

      <% if current_user.photo_url.file == nil %>
          <%= image_tag "avatar2.png", class: "sidebar-avatar dropdown-toggle", id: "sidebar-superclosing-menu", "data-toggle" => "dropdown" %>
      <% else %>
          <%= cl_image_tag current_user.photo_url, class: "avatar dropdown-toggle", id: "sidebar-superclosing-menu", "data-toggle" => "dropdown" %>
      <% end %>
      <ul class="dropdown-menu sidebar-superclosing-dropdown-menu">
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
          <% end %>
        </li>
      </ul>
    </div>


  <div class="sidebar-nav">

    <% if current_user.roles.first.nil? %>
      <div class="sidebar-item">
        <%= link_to root_path, class: "sidebar-link" do %>
          <i class="fas fa-columns"><span id="sidebar-item-1"><span class="sidebar-letter-color"></span>ociétés</span><span class="sidebar-letter-color">S</span>ociétés</span></i>
        <% end %>
      </div>
    <% else %>
      <div class="sidebar-item">
        <%= link_to company_path(id: current_user.roles.first.company), class: "sidebar-link" do %>
          <i class="fas fa-columns"><span id="sidebar-item-1"><span class="sidebar-letter-color">S</span>ociétés</span></i>
        <% end %>
      </div>
    <% end %>

<!--     <=% if current_user.roles.first.nil? %>
      <div class="sidebar-item">
        <=%= link_to root_path, class: "sidebar-link" do %>
          <i class="fas fa-chart-pie"><span id="sidebar-item-2"><span class="sidebar-letter-color">C</span>ap Table</span></i>
        <=% end %>
      </div>
    <=% else %>
      <div class="sidebar-item">
        <=%= link_to company_captable_path(company_id: current_user.roles.first.company, id: 1), class: "sidebar-link" do %>
          <i class="fas fa-chart-pie"><span id="sidebar-item-2"><span class="sidebar-letter-color">C</span>ap Table</span></i>
        <=% end %>
      </div>
    <=% end %> -->

    <% if current_user.roles.first.nil? %>
      <div class="sidebar-item">
        <%= link_to root_path, class: "sidebar-link" do %>
          <i class="fas fa-rocket"><span id="sidebar-item-3"><span class="sidebar-letter-color">O</span>pérations</span></i>
        <% end %>
      </div>
    <% else %>
      <div class="sidebar-item">
        <%= link_to company_operations_path(company_id: current_user.roles.first.company), class: "sidebar-link" do %>
          <i class="fas fa-rocket"><span id="sidebar-item-3"><span class="sidebar-letter-color">O</span>pérations</span></i>
        <% end %>
      </div>
    <% end %>

   <!--  <div class="sidebar-item">
      <=%= link_to root_path, class: "sidebar-link" do %>
        <i class="far fa-calendar-alt"><span id="sidebar-item-4"><span class="sidebar-letter-color">A</span>genda</span></i>
      <=% end %>
    </div> -->
  </div>

</div>

