<div class="sidebar">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag "logo.png", id: "superclosing-logo" %>
  <% end %>

  <div class="sidebar-nav">

    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-columns"></i> Dashboard
      <% end %>
    </div>

    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-chart-pie"></i> Cap Table
      <% end %>
    </div>


    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="fas fa-rocket"></i> Opérations
      <% end %>
    </div>

    <div class="sidebar-item">
      <%= link_to root_path, class: "sidebar-link" do %>
        <i class="far fa-calendar-alt"></i> Agenda
      <% end %>
    </div>
  </div>

</div>

