<div id="slide-show-home">
  <%= render 'slide-show-home' %>
</div>


<div class='page-header'>
  <h3>Bienvenue <%= current_user.first_name %></h3>

  <h4>Ici, devenez maître de votre levée de fonds.</h4>
</div>

<div class='home-step-description'>
  <div class='home-steps-header'>

    <div id="home-loop-eclair">
      <%= image_tag "eclair.png",  id: "home-eclair", alt: "eclair" %>
      <h3>LES 3 ÉTAPES D'UN SUPERCLOSING RÉUSSI</h3>
    </div>
  </div>
  <div class='container-fluid home-steps'>
    <div class='card step-card'>
      <div class="step-card-header">
        <div style="background-color: #F3BE69; color: white;" class="rond">
        <p>1</p>
      </div>
       Créez votre profil société
      </div>
      <div class='step-card-body'>
        Complétez le profil de votre société et renseignez les informations relatives à son capital. Nom, adresse, capital social, valeur nominale des actions et c'est parti !
      </div>
    </div>

    <div class='card step-card'>
      <div class="step-card-header">
      <div style="background-color: #F3BE69; color: white;" class="rond">
        <p>2</p>
      </div>
        Renseignez votre opération
      </div>
      <div class='step-card-body'>
        Définissez les caractéristiques de la levée de fonds que vous voulez réaliser : montant envisagé et valorisation de votre société. <br>Invitez vos investisseurs et mettez à leur disposition une Data Room.
      </div>
    </div>

    <div class='card step-card'>
      <div class="step-card-header">
      <div style="background-color: #F3BE69; color: white;" class="rond">
        <p>3</p>
      </div>
        Procédez au closing
      </div>
      <div class='step-card-body'>
        Dès que tous vos investisseurs ont confirmé leur participation, passez au closing : génération automatique des documents et signature électronique.
      </div>
    </div>
  </div>
</div>


<div class='container-fluid page-content'>

      <div class='home-card'>
        <div class = 'home-card-header'>
          <h3>Vos sociétés</h3>
         </div>


        <div class="home-card-body">
          <% if current_user.companies.length == 0 %>

            <h5 style='margin-left: 20px; margin-bottom:  40px; padding-bottom: 60px;'>Vous n'avez encore enregistré aucune société sur SuperClosing.</h5>

          <% else %>
           <div class='company-container'>
            <div class='company-container-cards'>
              <% @distinct_companies.each do |company|%>
                <div class="company-card">
                  <%= link_to company_path(company) do %>
                      <% if company.logo_url.file == nil %>

                          <%= image_tag 'eclair.png', width: 120, height: 120, class: "logo" %>
                      <% else %>
                          <p> <%= cl_image_tag company.logo_url, height: 100, width: 100, crop: :fit %></p>
                      <% end %>
                  <% end %>
                  <p><%=  company.name %></p>
                </div>
              <% end %>
            </div>

          </div>
            <% end %>
        </div>

      </div>



</div>

<div class="modal fade" id="modalCompanyCreation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title w-100 font-weight-bold"><strong>Ajouter une société</strong></h4>
    </div>
    <div class="modal-body mx-3">
      <p>Entrez votre numéro SIREN (9 chiffres - sans espace)</p>
        <%= simple_form_for @company, method: :post do |f| %>
        <%= f.input :siren %>
        <%= f.input :name, label: 'Nom'%>
        <%= f.input :address, label: 'Adresse'%>
        <%= f.input :legal_form, label: 'Forme sociale' %>
        <%= f.input :creation_date, as: :string, label: "Date d'immatriculation"%>
        <label for="user_role">Votre rôle dans la Société ?</label>
        <select class="form-control is-valid select optional" name="role" id="user_role">
          <option value=""></option>
          <option selected="selected" value="Président">Président</option>
          <option value="Associé">Associé</option>
        </select>
        <div class="text-align-center">
          <%= f.submit 'Créer', class: 'btn btn-form-action' %>
        </div>
      <% end %>

    </div>
  </div>
</div>


