<h1> Bienvenue <%= current_user.first_name %></h1>

<% if current_user.companies.length == 0 %>

  <p>Vous n'avez encore enregistré aucune société sur Superclosing.</p>

  <p> <%= link_to "Enregistrer ma société", new_company_path, class: 'btn btn-success'%> </p>

<% else %>

  <p>
    Sociétés dont vous êtes associé :
  </p>

  <ul>
    <% @associe.each do |role|%>
    <li> <%= link_to "#{role.company.name}", company_path(role.company) %></li>
    <% end %>
  </ul>

    <p>Sociétés dans lesquelles vous envisagez d'investir :</p>

  <ul><% @investisseur.each do |role|%>
    <li> <%= link_to "#{role.company.name}", company_path(role.company) %></li>
    <% end %>
  </ul>

  <p><%= link_to "Enregistrer une nouvelle société", new_company_path%> </p>

<% end %>

