<div class='page-header'>
   Bienvenue <%= current_user.first_name %>
</div>

<div class='page-content'>
  <div class = 'page-content-header'>
    Vos sociétés
  </div>

  <div class="page-content-body">
    <% if current_user.companies.length == 0 %>

      Vous n'avez encore enregistré aucune société sur SuperClosing.

      <a href="" class="btn btn-add-company" data-toggle="modal" data-target="#modalCompanyCreation">Enregistrer une société</a>

    <% else %>
     <div class='company-container'>
      <div class="company-container-header">
        Société dans lesquelles vous êtes associé
      </div>
      <div class='company-container-cards'>
        <% @associe.each do |role|%>
          <div class="company-card">
            <img src="https://via.placeholder.com/120x120" class="product-image hidden-xs">
            <p> <%= link_to "#{role.company.name}", company_path(role.company) %></p>
          </div>
        <% end %>
      </div>
    </div>


      <div class='company-container'>
        <div class="company-container-header">
          Société dans lesquelles vous allez investir
        </div>
        <div class='company-container-cards'>
          <% if @investisseur.length == 0 %>
            Aucune pour l'instant
            <% else %>
              <% @investisseur.each do |role|%>
               <div class="company-card">
                <img src="https://via.placeholder.com/120x120" class="product-image hidden-xs">
                <%= link_to "#{role.company.name}", company_path(role.company) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class='company-container'>
        <a href="" class="btn btn-add-company" data-toggle="modal" data-target="#modalCompanyCreation">Enregistrer une nouvelle société</a>
      </div>



    <% end %>

  </div>

  <div class = 'page-content-header'>
    Vos informations
  </div>

  <div class='page-content-body'>

    <p>Nom : <%= current_user.first_name %> <%= current_user.last_name %></p>
    <% if current_user.address.nil? %>
      <p>Adresse : à compléter </p>
    <% else %>
      <p>Adresse : <%= current_user.address %> </p>
    <% end %>

    <% if current_user.birthday.nil? %>
       <p>Date de naissance : à compléter </p>
    <% else %>
      <p>Date de naissance : <%= current_user.birthday %> </p>
    <% end %>

    <% if current_user.birth_place.nil? %>
      <p>Lieu de naissance : à compléter </p>
    <% else %>
      <p>Lieu de naissance : <%= current_user.birth_place %> </p>
    <% end %>


    <% if current_user.photo_url.file.nil? %>
      <img src="https://via.placeholder.com/150" class="avatar">
    <% else %>
      <%= cl_image_tag current_user.photo_url, height: 75, width: 75, crop: :thumb, gravity: :face, class: "avatar" %>
    <% end %>

    <%= link_to 'Modifier ou compléter', edit_user_registration_path %>
  </div>

</div>

<div class="modal fade" id="modalCompanyCreation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Nouvelle société</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p>Entrez votre numéro SIREN (9 chiffres - sans espace)</p>
          <%= simple_form_for @company, method: :post do |f| %>
          <%= f.input :siren %>
          <%= f.input :name, label: 'Nom'%>
          <%= f.input :address, label: 'Adresse'%>
          <%= f.input :legal_form, label: 'Forme sociale' %>
          <%= f.input :creation_date, as: :string, label: "Date d'immatriculation"%>
          <%= f.submit 'Créer' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
