<h1> Bienvenue <%= current_user.first_name %></h1>

<% if current_user.companies.length == 0 %>

  <p>Vous n'avez encore enregistré aucune société sur Superclosing.</p>


  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalCompanyCreation">Enregistrer une société</a>


  <p> <%= link_to "Enregistrer une société", new_company_path, class: 'btn btn-success'%> </p>

<% else %>

  <p>
    Sociétés dont vous êtes associé :
  </p>

  <ul>
    <% @associe.each do |role|%>
    <li> <%= link_to "#{role.company.name}", company_path(role.company) %></li>
    <% end %>
  </ul>

    <p>Sociétés dans lesquelles vous envisagez d'investir :</p>

  <ul><% @investisseur.each do |role|%>
    <li> <%= link_to "#{role.company.name}", company_path(role.company) %></li>
    <% end %>
  </ul>


<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalCompanyCreation">Enregistrer une nouvelle société</a>

<% end %>

<div class="modal fade" id="modalCompanyCreation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Nouvelle société</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p>Entrez votre numéro SIREN (9 chiffres - sans espace)</p>
          <%= simple_form_for @company, method: :post do |f| %>
          <%= f.input :siren, label: 'SIREN (9 chiffres - sans espace)' %>
          <%= f.input :name, label: 'Nom'%>
          <%= f.input :address, label: 'Adresse'%>
          <%= f.input :legal_form, label: 'Forme sociale' %>
          <%= f.input :creation_date, label: "Date d'immatriculation"%>
          <%= f.submit 'Créer' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
