<div class='page-header'>
   <h3>Bienvenue <%= current_user.first_name %></h3>
   <h5>Votre opération, en 4 étapes :</h5>
   <div>
     <%= image_tag "company-creation-timeline.png", id: "creation-timeline-img" %>
   </div>
</div>

<div class='page-content'>

  <div class='row'>

    <div class ='col-xs-12 col-sm-8'>
      <div class='home-card'>
        <div class = 'home-card-header'>
          Vos sociétés
          </div>

        <div class="home-card-body">
          <% if current_user.companies.length == 0 %>

            Vous n'avez encore enregistré aucune société sur SuperClosing.

            <a href="" class="btn btn-add-company" data-toggle="modal" data-target="#modalCompanyCreation">Enregistrer une société</a>

          <% else %>
           <div class='company-container'>
            <div class='company-container-cards'>
              <% @associe.each do |role|%>
                <div class="company-card">
                  <%= link_to company_path(role.company) do %>
                      <%= image_tag 'ca.png', width: 120, height: 120, class:"product-image" %>
                  <% end %>
                  <p><%=  role.company.name %></p>
                </div>
              <% end %>
                <div class="company-card">
                <a href="" class="btn btn-add-company" data-toggle="modal" data-target="#modalCompanyCreation">Enregistrer une nouvelle société</a>
              </div>
            </div>

          </div>
        </div>

       <!--    <div class='company-container'>
            <div class="company-container-header">
              Société dans lesquelles vous allez investir
            </div>
            <div class='company-container-cards'>
              <%# if @investisseur.length == 0 %>
                Aucune pour l'instant
                <%# else %>
                  <%# @investisseur.each do |role|%>
                   <div class="company-card">
                    <img src="https://via.placeholder.com/120x120" class="product-image hidden-xs">
                    <%#= link_to "#{role.company.name}", company_path(role.company) %>
                  </div>
                <%# end %>
              <%# end %>
            </div>
          </div> -->

        <% end %>

      </div>

    </div>

    <div class ='col-xs-12 col-sm-3'>
      <div class='home-card'>

        <div class = 'home-card-header'>
          Vos informations
        </div>

        <div class = "home-card-avatar">
          <% if current_user.photo_url.file.nil? %>
            <img src="https://via.placeholder.com/120" class="avatar">
          <% else %>
            <%= cl_image_tag current_user.photo_url, height: 75, width: 75, crop: :thumb, gravity: :face, class: "avatar" %>
          <% end %>
        </div>

        <div class='home-card-body'>

          <p><strong>Nom</strong> : <%= current_user.first_name %> <%= current_user.last_name %></p>
          <% if current_user.address.nil? %>
            <p><strong>Adresse</strong> : à compléter </p>
          <% else %>
            <p><strong>Adresse</strong> : <%= current_user.address %> </p>
          <% end %>

          <% if current_user.birthday.nil? %>
             <p><strong>Date de naissance</strong> : à compléter </p>
          <% else %>
            <p><strong>Date de naissance</strong> : <%= current_user.birthday %> </p>
          <% end %>

          <% if current_user.birth_place.nil? %>
            <p><strong>Lieu de naissance</strong> : à compléter </p>
          <% else %>
            <p><strong>Lieu de naissance</strong> : <%= current_user.birth_place %> </p>
          <% end %>

          <div class='home-card-footer'>
            <%= link_to 'Modifier ou compléter', edit_user_registration_path %>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>

<div class="modal fade" id="modalCompanyCreation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Nouvelle société</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p>Entrez votre numéro SIREN (9 chiffres - sans espace)</p>
          <%= simple_form_for @company, method: :post do |f| %>
          <%= f.input :siren %>
          <%= f.input :name, label: 'Nom'%>
          <%= f.input :address, label: 'Adresse'%>
          <%= f.input :legal_form, label: 'Forme sociale' %>
          <%= f.input :creation_date, as: :string, label: "Date d'immatriculation"%>
          <%= f.submit 'Créer' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
