  <!--   <div class='row'> -->
      <!-- <div class = 'col col-xs-12'> -->
<div class='home-card' id='show-operations-card'>
  <div class = 'home-card-header'>
    <h4>Opérations</h4>
  </div>
  <div class="home-card-body operation-body">
    <div class="operation-list-card">
      <ul >
        <li>
          <div class="operation-list-header">
            <div class="operation-list-name">
              <span>Nom</span>
            </div>
            <div class="operation-list-category">
              <span>Catégorie</span>
            </div>
            <div class="operation-list-amount">
              <span>Montant visé</span>
            </div>
            <div class="operation-list-date">
              <span>Date de réalisation estimée</span>
            </div>
            <div class="operation-list-status">
              <span>Statut</span>
            </div>
            <div class="operation-list-btn">
            </div>
          </div>
        </li>
        <% @company.operations.each do |operation| %>
          <% unless operation.category == 'initialize-captable' %>
            <li>
              <div class="operation-list-content">
                <div class="operation-list-name">
                  <h5><%= operation.name %></h5>
                </div>
                <div class="operation-list-category">
                  <h5><%= operation.category %></h5>
                </div>
                <div class="operation-list-amount">
                  <h5><strong><%= money_without_cents operation.target_amount %> euros</strong></h5>
                </div>
                <div class="operation-list-date">
                   <h5><%= operation.expected_closing_date.strftime("%d/%m/%Y") %></h5>
                </div>
                <div class="operation-list-status">
                  <% if operation.status == 'completed' %>
                    <h5><strong>Finalisée</strong></h5>
                  <% else %>
                    <h5><strong>En cours</strong></h5>
                  <% end %>
                </div>
                <div class="operation-list-btn">
                  <%= link_to operation_path(operation) do %>
                    <button style="button" class="btn-transparent-xtra-small">Détails</button>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>




 <!--  </div> -->
<!-- </div> -->
