<div class='operation-step-description'>
    <h3><strong><%= @company.name %></strong> </h3>
   <h4>Les étapes de votre levée de fonds :</h4>
  <div class="container-fluid progressbar-container">
    <ul class="progressbar progressbar-1">
        <li class="active">Renseignez les informations relatives à votre société</li>
        <li >Renseignez les informations relatives à votre opération</li>
        <li>Investisseurs</li>
        <li>Passez aux signatures !</li>
    </ul>
  </div>
</div>

<div class='container-fluid page-content'>

  <div class='row'>

    <div class ='col col-xs-12 col-sm-6'>

      <div class='home-card'>

        <div class = 'home-card-header' id='comp'>
          <h4>Informations</h4>
          <%= link_to edit_company_path(@company.id) do %>
            <i class="far fa-edit" id='edit-company-info'></i>
          <% end %>
        </div>

        <div class='home-card-body' id='company-card'>
          <div class='company-show-logo'>
            <h3><strong><%= @company.name %></strong> </h3>
            <% if @company.logo_url.file == nil %>
              <img src="https://via.placeholder.com/120" class="logo">
            <% else %>
            <p> <%= cl_image_tag @company.logo_url, height: 100, width: 100, crop: :fit %></p>
              <% end %>
          </div>
          <div class='company-show-infos'>
            <div class='home-card' id='company-info-card'>
              <p> <strong>SIREN</strong> : <%= @company.siren %> </p>
              <p> <strong>Forme sociale</strong> : <%= @company.legal_form %> </p>
              <p> <strong>Siège social</strong> :  <%= @company.address %></p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class ='col col-xs-12 col-sm-6'>
      <div class='home-card'>
        <div class = 'home-card-header'>
          <h4>Répartition du capital</h4>
          <%= link_to new_company_captable_path(@company.id) do %>
            <i class="far fa-edit" id='edit-company-info'></i>
          <% end %>
        </div>

        <div class="home-card-body captable-body">
          <div class="captable-list-card">
            <ul >
              <li>
                <div class="captable-list-header">
                  <div class="captable-list-name">
                    <span>Nom</span>
                  </div>
                  <div class="captable-list-shares">
                    <span># Actions</span>
                  </div>
                  <div class="captable-list-shares-pourcent">
                    <span>% du capital</span>
                  </div>
                </div>
              </li>
              <% @shareholders.each do |id, shares| %>
                <li>
                  <div class="captable-list-content">
                    <div class="captable-list-name">
                      <%= User.find(id).last_name %> <%= User.find(id).first_name %>
                    </div>
                    <div class="captable-list-shares">
                      <%= money_without_cents shares %> actions
                    </div>
                    <div class="captable-list-shares-pourcent">
                      <%= ( (shares.to_f / (money_without_cents @company.number_of_shares).to_f).round(2) * 100).round(0) %> %
                    </div>
                  </div>
                </li>
              <% end %>
              <li><strong>
                <div class="captable-list-header">
                  <div class="captable-list-name">
                    Total
                  </div>
                  <div class="captable-list-shares">
                    <%= money_without_cents @company.number_of_shares %> actions
                  </div>
                  <div class="captable-list-shares-pourcent">
                    100 %
                  </div>
                </div>
              </strong></li>
            </ul>

            <% if @company.operations.where(category: 'initialize-captable').empty? %>
              <%= link_to new_company_captable_path(@company.id) do %>
                <button style="button" class="btn-transparent-small">Initialiser le capital</button>
              <% end %>
            <% end %>

            <div class="graph">
              <% if @shareholders.any? %>
                <canvas id="myChart" data-share="<%= @company.number_of_shares %>-<%= @shareholders.first[1] %> " data-label= " ">
                </canvas>
              <% else %>
                <p> Renseignez vos actionnaires </p>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>

  <div class='row'>
    <div class = 'col col-xs-12'>
      <div class = 'home-card-header'>
        <h4>Opérations</h4>
      </div>
      <div class = "home-card-body">
        <ul>
          <% @company.operations.each do |operation| %>
            <% unless operation.category == 'initialize-captable' %>
              <li>
                <div class="operation-list">
                  <div class="operation-list-category">
                    <div>
                      <span>Catégorie</span>
                    </div>
                    <div>
                      <h5><%= operation.category %></h5>
                    </div>
                  </div>
                  <div class="operation-list-amount">
                    <% if operation. status == 'completed' %>
                      <div>
                        <span>Montant de l'opération</span>
                      </div>
                      <div>
                        <h5><strong><%= money_without_cents operation.target_amount %> euros</strong></h5>
                      </div>
                    <% else %>
                      <div>
                        <span>Montant visé</span>
                      </div>
                      <div>
                        <h5><strong><%= money_without_cents operation.target_amount %> euros</strong></h5>
                      </div>
                    <% end %>
                  </div>
                  <div class="operation-list-closing-date">
                    <% if operation. status == 'completed' %>
                      <div>
                        <span>Date de réalisation</span>
                      </div>
                      <div>
                        <h5><%= operation.expected_closing_date %></h5>
                      </div>
                    <% else %>
                      <div>
                        <span>Date de réalisation estimée</span>
                      </div>
                      <div>
                        <h5><%= operation.expected_closing_date %></h5>
                      </div>
                    <% end %>
                  </div>
                  <div class="operation-list-status">
                    <% if operation. status == 'completed' %>
                      <div>
                        <span>Status</span>
                      </div>
                      <div>
                        <h5><strong>Finalisée</strong></h5>
                      </div>
                    <% else %>
                      <div>
                        <span>Status</span>
                      </div>
                      <div>
                        <h5><strong>En cours</strong></h5>
                      </div>
                    <% end %>
                  </div>
                  <div class="operation-list-link">
                    <%= link_to operation_path(operation) do %>
                      <button style="button" class="btn-transparent-small">Détails</button>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <div class="text-align-center">
        <%= link_to new_company_operation_path(@company) do %>
          <button style="button" class="btn btn-form-action">Ajouter une opération</button>
        <% end %>
      </div>
    </div>
  </div>
</div>










