<div class='company-show-container'>

  <div class='company-banner-container'>
    <h2>Société <%= @company.name %></h2>
  </div>

  <div class='company-content-container'>
    <div>
      <h3>Infos</h3>
       <p> Nom :  <%= @company.name %> </p>
       <p> Forme sociale : <%= @company.legal_form %> </p>
       <p> Siège social :  <%= @company.address %></p>
       <% if @company.logo_url.file == nil %>
        <p>Logo : Ajoutez votre logo</p>
        <% else %>
        <p>Logo : <%= cl_image_tag @company.logo_url, height: 120, width: 220, crop: :fit %></p>
      <% end %>
       <p> <%= link_to 'Compléter les informations', edit_company_path(@company.id) %> </p>
    </div>

    <div>
      <h3>Répartition du capital</h3>
      <p>
        Créer sa table de capitalisation (si rien n'a été renseigné)
        <%= link_to 'Créer', company_new_captable_path(@company.id) %>
      </p>
      <p>
        Ou éditer si l'information existe
        <%= link_to 'Editer', edit_company_path(@company.id) %>
      </p>
    </div>

    <div>
      <h3>Opérations</h3>
      <%= link_to 'Opérations', company_operations_path(@company.id) %>
    </div>

    <div>
      <h3>Actionnariat</h3>
    </div>

  </div>
</div>



