<div class='page-header container-fluid company-show-header'>
  <div class='company-show-logo'>
    <% if @company.logo_url.file == nil %>
        <img src="https://via.placeholder.com/120" class="logo">
      <% else %>
      <p> <%= cl_image_tag @company.logo_url, height: 120, width: 220, crop: :fit %></p>
    <% end %>
  </div>

  <div class="company-show-name">
    <h3>Société <%= @company.name %></h3>
  </div>

  <div class='company-show-infos'>
    <div class='home-card' id='company-info-card'>
      <div class='home-card-header'>
        <h5>Informations</h5>
        <%= link_to edit_company_path(@company.id) do %>
          <i class="far fa-edit" id='edit-company-info'></i>
        <% end %>
      </div>

      <div class='home-card-body'>
        <p> <strong>Forme sociale</strong> : <%= @company.legal_form %> </p>
        <p> <strong>Siège social</strong> :  <%= @company.address %></p>
      </div>

    </div>

  </div>

</div>

<div class='operation-step-description'>
   <h4>Les étapes de votre levée de fonds :</h4>
   <div class='container-fluid operation-step-container'>
    <div class='step-card'>
      <div class='step-bubble'>
        <h4>1</h4>
      </div>
      <div class="step-description">
        <p>Renseignez les informations relatives à votre capital</p>
      </div>
    </div>

    <div class='step-card'>
      <div class='step-bubble'>
       <h4>2</h4>
      </div>
      <div class="step-description">
        <p>Créez un nouvelle opération</p>
      </div>
    </div>

    <div class='step-card'>
      <div class='step-bubble'>
        <h4>3</h4>
      </div>
      <div class="step-description">
        <p>Ajoutez des investisseurs</p>
      </div>
    </div>

    <div class='step-card'>
      <div class='step-bubble'>
        <h4>4</h4>
      </div>
      <div class="step-description">
        <p>Passez aux signatures !</p>
      </div>
    </div>


   </div>
</div>


<div class='container-fluid page-content'>

  <div class='row'>

    <div class ='col col-xs-12'>

      <div class='home-card'>

        <div class = 'home-card-header'>
          <h3>Répartition du capital</h3>
        </div>

        <div class="home-card-body">
          <ul>
            <% @shareholders.each do |id, shares| %>
              <li>
                <%= User.find(id).last_name %> <%= User.find(id).first_name %> - <%= money_without_cents shares %> actions
              </li>
            <% end %>
            <li>Total : <%= money_without_cents @company.number_of_shares %> actions</li>
          </ul>
          <% if @company.operations.where(category: 'initialize-captable').empty? %>
            <%= link_to new_company_captable_path(@company.id) do %>
              <button style="button" class="btn-transparent-small">Initialiser le capital</button>
            <% end %>
          <% else %>
            <%= link_to new_company_captable_path(@company.id) do %>
              <button style="button" class="btn-transparent-small">Editer</button>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>


  </div>

  <div class='row'>
    <div class = 'col col-xs-11'>
      <div class = 'home-card-header'>
        <h3>Opérations</h3>
      </div>
      <div class = "home-card-body">
        <%= link_to 'Opérations', company_operations_path(@company.id) %>
      </div>
    </div>
  </div>

</div>









