<div class='company-show-container'>

  <div class='company-banner-container'>
    <h2>Société <%= @company.name %></h2>
  </div>

  <div class='company-content-container'>
    <div>
      <h3>Infos</h3>
       <p> Nom :  <%= @company.name %> </p>
       <p> Forme sociale : <%= @company.legal_form %> </p>
       <p> Adresse :  <%= @company.address %></p>
       <p> <%= link_to 'Modifier', edit_company_path(@company.id) %> </p>
    </div>

    <div>
      <h3>Répartition du capital</h3>
    </div>

    <div>
      <h3>Opérations</h3>
      <%= link_to 'Opérations', company_operations_path(@company.id) %>
    </div>

    <div>
      <h3>Actionnariat</h3>
    </div>

  </div>
</div>



