<div class="main-width">

  <div id="slide-show-company">
    <%= render 'slide-show-company', company: @company, operation: @operation %>
  </div>


  <div id="Info-Rep-inline">
    <div class='company-info-card'>
      <div class = 'home-card-header' id='comp'>
        <h4>Informations</h4>
        <%= link_to edit_company_path(@company.id) do %>
          <i class="far fa-edit" id='edit-company-info'></i>
        <% end %>
      </div>
      <div class='company-info-card-body'>
        <div class='company-show-logo'>
          <strong><%= @company.name %></strong>
          <% if @company.logo_url.file == nil %>
            <p><img src="https://via.placeholder.com/120" class="logo"></p>
          <% else %>
          <p> <%= cl_image_tag @company.logo_url, height: 120, width: 120, crop: :fit %></p>
            <% end %>
        </div>
        <div class='company-show-infos'>
          <div class='home-card' id='company-info-card'>
            <p> <strong>SIREN</strong> <br> <%= @company.siren %> </p>
            <p> <strong>Forme sociale</strong> <br> <%= @company.legal_form %> </p>
            <p> <strong>Siège social</strong> <br>  <%= @company.address %></p>

          </div>
        </div>
      </div>
    </div>

    <div class='company-captable-card'>
      <div class = 'home-card-header'>
        <h4>Répartition du capital</h4>
        <%= link_to new_company_captable_path(@company.id) do %>
          <i class="far fa-edit" id='edit-company-info'></i>
        <% end %>
      </div>

      <%= render 'show-captable' %>
    </div>
  </div>


</div>







