<div class='page-header'>
   <h3>Société <%= @company.name %></h3>
   <h5>Ici, vous trouverez tous les outils pour :</h5>
   <div>
     <%= image_tag "operation-timeline.png", id: "operation-timeline-img" %>
   </div>
</div>

<div class='page-content'>

  <div class='row'>

    <div class ='col-xs-12 col-sm-8'>
      <div class='home-card'>
        <div class = 'home-card-header'>
          Répartition du capital
        </div>

        <div class="home-card-body">
          <ul>
            <% @shareholders.each do |id, shares| %>
              <li>
                <%= User.find(id).last_name %> <%= User.find(id).first_name %> - <%= money_without_cents shares %> actions
              </li>
            <% end %>
            <li>Total : <%= money_without_cents @company.number_of_shares %> actions</li>
          </ul>
          <% if @company.operations.where(category: 'initialize-captable').empty? %>
            <%= link_to 'Créer', new_company_captable_path(@company.id) %>
          <% else %>
            <%= link_to 'Editer', new_company_captable_path(@company.id) %>
          <% end %>
        </div>

      </div>
    </div>

    <div class ='col-xs-12 col-sm-3 '>
      <div class='home-card'>

        <div class = 'home-card-header'>
          Informations
        </div>

        <div class = "home-card-avatar">
          <% if @company.logo_url.file == nil %>

              <img src="https://via.placeholder.com/120" class="logo">
            <% else %>
            <p> <%= cl_image_tag @company.logo_url, height: 120, width: 220, crop: :fit %></p>
          <% end %>
        </div>

        <div class='home-card-body'>
          <p> <strong>Nom</strong> :  <%= @company.name %> </p>
          <p> <strong>Forme sociale</strong> : <%= @company.legal_form %> </p>
          <p> <strong>Siège social</strong> :  <%= @company.address %></p>
          <div class='home-card-footer'>
            <%= link_to 'Compléter les informations', edit_company_path(@company.id) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class = 'col-xs-11'>
      <div class = 'home-card-header'>
        Opérations
      </div>
      <div class = "home-card-body">
        <%= link_to 'Opérations', company_operations_path(@company.id) %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class = 'col-xs-11'>
      <div class = 'home-card-header'>
        Actionnariat
      </div>
      <div class = "home-card-body">

      </div>
    </div>
  </div>




</div>









