
<div class="pv_header" style="text-align: center">
  <br>

  <h1><strong><mark><%= @operation.company.name %></mark></strong></h1>

  <h3><mark> <%= @operation.company.legal_form %></mark> au capital de <mark><%= humanized_money @operation.company.number_of_shares * @operation.company.share_nominal_value %></mark> euros </h3>
  <h3>Siège social : <mark><%= @operation.company.address %></mark></h3>
  <h3>SIREN : <mark><%= humanized_money @operation.company.siren %></mark></h3>
  <br>
  <h3>(ci-après la « <strong>Société</strong> »)</h3>

<br>

  <h2>PROCÈS-VERBAL DE L'ASSEMBLÉE GÉNÉRALE EXTRAORDINAIRE DU <mark><%= @day %> <%= @month.upcase %> <%= @year %></mark></h2>

</div>

<br>
<p>
L'an <mark><%= @year %></mark>, le <mark><%= @day %> <%= @month %></mark> à <mark><%= @time %></mark> heures,
<br>
<br>
Les associés de la Société (les « <strong>Associés</strong> ») se sont réunis au siège social en assemblée générale, sur convocation qui leur a été faite par le président (l’« <strong>Assemblée Générale</strong> »).
<br>
<br>
L'Assemblée Générale est présidée par <mark><%= current_user.first_name %> <%= current_user.last_name %></mark>, en sa qualité de président de la Société (le « <strong>Président</strong> »).
<br>
<br>
Le Président déclare que l'Assemblée Générale est régulièrement constituée et peut valablement délibérer et adopter les résolutions proposées dans les conditions fixées par les statuts.
<br>
<br>
Le Président rappelle à l'Assemblée Générale qu'elle est réunie pour délibérer sur l'ordre du jour suivant :</p>
<ul>
  <li>Augmentation de capital par émission d’actions ;</li>
  <li>Renonciation par les associés à l’exercice de leur droit préférentiel de souscription ;</li>
  <li>Pouvoirs pour les formalités.</li>
</ul>
<p>La discussion est ouverte.
<br>
<br>
Personne ne demandant la parole, le Président met successivement aux voix les résolutions inscrites à l’ordre du jour.
</p>
<br>

<div style="text-align: center">
  <h4><strong>Première résolution</strong></h4>
  <h5>Augmentation de capital par émission d’actions</h5>
</div>

<p>
<br>
L’Assemblée Générale, statuant aux conditions de quorum et de majorité requises par les statuts, conformément aux articles L. 225-129 et suivants du code de commerce et après avoir pris connaissance du rapport du Président,
<br>
<br>
Décide d’augmenter le capital social de la Société d’un montant de <mark><%= humanized_money @capital_augmentation %></mark> euros, par l’émission de  <mark><%= humanized_money @total_of_shares %></mark> actions ordinaires (les « <strong>Actions</strong> ») d’une valeur nominale de  <mark><%= humanized_money @nominal %></mark> euros chacune, assorties d’une prime d’émission unitaire de <mark><%= humanized_money @operation.investments.last.share_premium %></mark> euros, pour un prix global, prime d’émission comprise, s’élevant à   <mark><%=humanized_money @nominal + @operation.investments.last.share_premium %></mark> euros par Action (l’« <strong>Augmentation de Capital</strong> ») ;
<br>
<br>
Cette résolution est adoptée à l’unanimité.
<br>
<br>
</p>
<br>

<div style="text-align: center">
  <h4><strong>Deuxième résolution</strong></h4>
  <h5>Renonciation des Associés à l’exercice de leur droit préférentiel de souscription</h5>
</div>
<p>

<br>
L’Assemblée Générale constate la renonciation des Associés à l’exercice de leur droit préférentiel de souscription au profit des souscripteurs listés en Annexe A et décide en conséquence de l’attribution des <mark><%= @total_of_shares %></mark> Actions au profit de ces mêmes souscripteurs, selon les proportions établies dans ladite annexe.
<br>
<br>
</p>
<br>
<div style="text-align: center">
  <h4><strong>Troisième résolution</strong></h4>
  <h5>Pouvoirs pour les formalités</h5>
</div>

<p>
<br>
L’Assemblée Générale délègue tous pouvoirs au porteur d’un original, d’une copie ou d’un extrait des présentes à l’effet d’accomplir toutes formalités légales.
<br>
<br>
Cette résolution est adoptée à l’unanimité.
<br>
<br>
L'ordre du jour étant épuisé et plus personne ne demandant la parole, la séance est levée à <mark><%= @time + 1 %> heures</mark> ; il en a été dressé le présent procès-verbal.
</p>
<br>
<br>
____________________________
<br>
<h3>Le Président</h3>
<br>
<p><mark><%= current_user.first_name %> <%= current_user.last_name %></mark></p>
<br>
<br>
<br>
<br>



<div style="text-align: center; page-break-before: always;">
<br>

  <h2 >ANNEXE A</h2>

  <h4>Liste des bénéficiaires de la renonciation des Associés à l’exercice de leur droit préférentiel de souscription</h4>
  <br>
  <br>

  <table id='pdf-investors-table'>
    <tr>
      <th style="width: 100pt;">Nom</th>
      <th style="width: 90pt;">Montant de l'investissement</th>
      <th style="width: 90pt;">Nombre d'actions</th>
      <th style="min-width: auto;">Coordonnées</th>
    </tr>
    <% @operation.investments.each do |investment| %>
      <tr >
        <td ><mark><%= investment.user.first_name %> <%= investment.user.last_name %></mark></td>
        <td><mark><%= humanized_money investment.number_of_shares * (@nominal + investment.share_premium) %></mark> € </td>
        <td ><mark><%= humanized_money investment.number_of_shares  %></mark></td>
        <td><mark><%= investment.user.address %></mark></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="text-align: center; page-break-before: always;">
  <br>

  <h1><strong><mark><%= @operation.company.name %></mark></strong></h1>

  <h3><mark> <%= @operation.company.legal_form %></mark> au capital de <mark><%= humanized_money @operation.company.number_of_shares * @nominal %></mark> euros  </h3>
  <h3>Siège social : <mark><%= @operation.company.address %></mark></h3>
  <h3>SIREN : <mark><%= humanized_money @operation.company.siren %></mark></h3>
  <br>
  <h3>(ci-après la « <strong>Société</strong> »)</h3>
  <br>

  <h2>FEUILLE DE PRÉSENCE DE L'ASSEMBLÉE GÉNÉRALE EXTRAORDINAIRE DU <mark><%= @day %> <%= @month.upcase %> <%= @year %></mark></h2>

  <br>
  <br>

  <table id='pdf-investors-table'>
    <tr>
      <th style="width: 100pt;">Nom</th>
      <th style="width: 90pt;">Nombre d'actions</th>
      <th style="width: 90pt;">Pourcentage du capital</th>
      <th style="min-width: auto;">Signature</th>
    </tr>
    <% @shareholders.each do |id, number_of_shares| %>
      <tr >
        <td ><mark><%= User.find(id).first_name %> <%= User.find(id).last_name %></mark></td>
        <td><mark><%= humanized_money number_of_shares %></mark></td>
        <td ><mark><%= humanized_money (number_of_shares.to_f / (@operation.company.number_of_shares.to_f).round(1))*100 %></mark> %</td>
        <td></td>
      </tr>
    <% end %>
  </table>
<br>
<br>

<p style='text-align: justify;'>La présente feuille de présence faisant apparaître que les associés, titulaires de  <mark><%= humanized_money @shareholders.values.sum %></mark> actions composant le capital social de la Société et auxquelles sont attachées 100 % des voix sont présents ou représentés, a été arrêtée et certifiée exacte par le Président.</p>

</div>

<br>
<br>
<br>

____________________________
<br>
<h3>Le Président</h3>
<br>
<p><mark><%= current_user.first_name %> <%= current_user.last_name %></mark></p>
<br>
<br>





