<div class="main-width">

  <!--   <div class='row'> -->
      <!-- <div class = 'col col-xs-12'> -->
<div class='home-card' id='show-operations-card'>
  <div class = 'home-card-header'>
    <h4>Documents à signer</h4><p>Opération de <%= @operation.category %> : <%= @operation.name %></p>
  </div>
  <div class="home-card-body operation-body">
    <div class="operation-list-card">
      <ul >
        <li>
          <div class="doc-list-header">
            <div class="sign-list-name" style="width: 800px !important;">
              <span>Procés Verbal d'ouverture - Décision des associés historiques de procéder à la levée</span>
            </div>
          </div>
        </li>

            <li>
              <div class="sign-container">


                <div class="doc-card partition-sign">

                  <div class="sign-card-logo" style="color: #C4E0CE !important;">
                    <i class="far fa-check-circle"></i>
                  </div>

                  <div class="sign-card-body">

                  <%= link_to d_document_path(@operation.d_documents.first) do %>
                      <div class="sign-card-avatar">
                        <i class="fas fa-file-pdf"></i>
                      </div>
                      <div class="sign-card-header">
                        <%= @operation.d_documents.first.title %>
                      </div>
                    <% end %>

                    <div class="sign-send">
                      <i class="fas fa-paper-plane"></i>
                    </div>

                  </div>

                </div>


              </div>
            </li>
      </ul>
    </div>
  </div>

    <div class="home-card-body operation-body">
    <div class="operation-list-card">
      <ul >
        <li>
          <div class="doc-list-header">
            <div class="sign-list-name" style="width: 800px !important;">
              <span>Bons de souscription - Chaque nouvel associé confirme sa souscription</span>
            </div>
          </div>
        </li>

            <li>

              <div class="sign-container">
                  <% @operation.d_documents.each do |ddoc| %>
                    <% if ddoc.title.include?("souscription") %>

                <div class="doc-card partition-sign">

                  <div class="sign-card-logo" style="color: #C4E0CE !important;">
                    <i class="far fa-check-circle"></i>
                  </div>

                  <div class="sign-card-body">

                  <%= link_to d_document_path(ddoc) do %>
                      <div class="sign-card-avatar">
                        <i class="fas fa-file-pdf"></i>
                      </div>
                      <div class="sign-card-header">
                        <%= ddoc.title %>
                      </div>
                    <% end %>

                    <div class="sign-send">
                      <i class="fas fa-paper-plane"></i>
                    </div>

                  </div>

                </div>
              <% end %>
              <% end %>

              </div>

            </li>
      </ul>
    </div>
  </div>

  <div class="home-card-body operation-body">
    <div class="operation-list-card">
      <ul >
        <li>
          <div class="doc-list-header">
            <div class="sign-list-name" style="width: 800px !important;">
              <span>Procés Verbal de fermeture - Les associés (anciens et nouveaux) constatent la levée</span>
            </div>
          </div>
        </li>

            <li>
              <div class="sign-container">


                <div class="doc-card partition-sign">

                  <div class="sign-card-logo" style="color: #C4E0CE !important;">
                    <i class="far fa-check-circle"></i>
                  </div>

                  <div class="sign-card-body">

                  <%= link_to d_document_path(@operation.d_documents.second) do %>
                      <div class="sign-card-avatar">
                        <i class="fas fa-file-pdf"></i>
                      </div>
                      <div class="sign-card-header">
                        <%= @operation.d_documents.second.title %>
                      </div>
                    <% end %>

                    <div class="sign-send">
                      <i class="fas fa-paper-plane"></i>
                    </div>

                  </div>

                </div>


              </div>
            </li>
      </ul>
    </div>
  </div>

</div>

