<div class="container-fluid form-initialize-captable">
  <div class="text-align-center">
    <h1>Initialiser la table de capitalisation</h1>
  </div>

    <div id="form-nominal">
      <%= render 'companies/form-nominal', company: @company %>
    </div>


  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-align-center">
      <% if @company.share_nominal_value.nil? %>
        <div id="display-nominal">

        </div>
      <% else %>
        <div id="display-nominal">
          <p>Nominal des actions : <strong><%= money_without_cents @company.share_nominal_value %> euros</strong></p>
        </div>
      <% end %>
    </div>
  </div>
<hr>

<br>

  <div class="row" style='margin-bottom: 40px;'>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div id="form-shareholders">
        <%= render 'form-shareholders', company: @company %>
      </div>

      <div id="display-shareholders">
        <%= render 'show-shareholders', company: @company %>
      </div>

      <div class="text-align-center">
        <%= link_to company_path(@company) do %>
          <button type="button" class="btn btn-transparent-small" >Terminer</button>
        <% end %>
      </div>
    </div>
  </div>

</div>
