<ul id="list-investors">
  <%  @operation.investments.each do |invest|%>
    <li data-investment-id="<%= invest.id %>">
      <%= invest.user.email%> - <%= money_without_cents invest.number_of_shares %> actions - Investissement : <%= money_without_cents (invest.number_of_shares * ( invest.share_premium + invest.share_nominal_value ) ) %> euros - <%= invest.status %> - <%= link_to "Delete", investment_path(invest), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>
