<div id="slide">
  <h4><%= @operation.name %> </h4>
   <%if @operation.status == 'Pending' %>
    <p>En cours</p>
    <% end %>

  <% unless @operation.target_amount.nil? %>
    <h4 class="huge"><%= (money_without_cents @shares_values * 100 / @operation.target_amount) %> %</h4>
    <p>des fonds collectés</p>
  <% end %>
  <p>Montant visé : <%= money_without_cents @operation.target_amount %> €
  <% unless @operation.expected_closing_date.nil? %>
    <br>Date de fin prévue : <%= @operation.expected_closing_date.strftime( "%d/%m/%Y")%>
  <% end %>
  </p>

  <%= simple_form_for @d_document, url: create_documents_operation_path(@operation), method: "post" do |f| %>
    <%= f.submit 'Lancer les signatures', class: 'btn-slide' %>
     <i class="fas fa-file-signature"></i>

  <% end %>
</div>
