<h3> Toutes les opérations pour <%= @company.name %></h3>

<%= link_to new_company_operation_path(@company) do %>
  <button style="button" class="btn-transparent-small">Nouvelle opération</button>
<% end %>

<ul>
  <% @operations.each do |operation| %>
    <% unless operation.category == 'initialize-captable' %>
      <li>
        <div class="operation-list">
          Catégorie : <%= operation.category %> || Montant visé : <%= money_without_cents operation.target_amount %> euros || Date de clôture envisagée : <%= operation.expected_closing_date %> || Status : <%= operation.status %> ||

          <%= link_to operation_path(operation.id) do %>
            <button style="button" class="btn-transparent-small">Détails</button>
          <% end %>

        </div>
      </li>
    <% end %>
  <% end %>
</ul>

