<h2>Opération <%= @operation.name %></h2>

<h3>RESUME DE L'OPERATION</h3>
<ul>
  <li>Type : <%= @operation.category %></li>
  <li>Statut : <%= @operation.status %></li>
  <li>Montant : <%= number_with_delimiter(@operation.target_amount_cents, :delimiter => " ") %> euros</li>
  <li>Montant : <%= @operation.premoney_cents%> euros</li>
  <li>Date de fin : <%= @operation.expected_closing_date%></li>
</ul>

<h3>LE TOUR DE TABLE</h3>
<p>Investisseurs:</p>
<ul><%  @operation.investments.each do |invest|%>
  <li> <%= invest.user.email%></li>
  <% end %>
</ul>

<p>Ajouter un nouvel investisseur ?</p>
<%= link_to new_investor_path(params: { operation_id: @operation }) do %>
  <button type="button" class="btn btn-success">Ajouter un investisseur</button>
<% end %>


<!-- =========================================== CAPTABLE -->

<div class="indicateurs">
  <h3 class="leftinfobox">CAPTABLE</h3>
  <div class="number-container">
    <p> <%= @operation.investments.count %> Investisseurs invités</p>
    <p> <%= (@shares_values*100/@operation.target_amount_cents) %> % d'avancement</p>
  </div>
  <div class="graph-container">
    <div class="graph">
      <p>Répartition Cible :</p>
      <canvas id="myChart" data-share="<%= @operation.target_amount_cents %>-<%= @operation.premoney_cents %> ">
      </canvas>
    </div>

    <div class="graph">
      <p>Progession :</p>
      <canvas id="mySecondChart" data-share="<%= @operation.target_amount_cents %> - <%= @shares_values %> ">
      </canvas>
    </div>
  </div>



</div>

<!-- =========================================== CAPTABLE -->


<p>Liste des montants des investissements :</p>
<ul><% @operation.investments do |investment| %>
  <li><% investment.id %> -- Montant : <% investment.number_of_shares*investment.share_premium_cents+@operation.share_nominal_value_cents %> </li>
  <% end %>
</ul>

<p>Total des investissements :  (faire la somme)</p>

<hr>

<h3>DATAROOM</h3>
<p>Ajoutez ici les informations pour vos investisseurs</p>

<ul><% @operation.s_documents.each do |s_document| %>
    <li> <%= s_document.category  %> - <%= s_document.title  %> - <%= cl_image_tag @s_document.d_url, height: 100, width: 70, crop: :fill  %></li>
  <% end %>

</ul>

<p>Ajouter un nouveau document :</p>
<%= simple_form_for [@operation.company, @operation, @s_document], method: :post do |f| %>
  <%= f.input :title, label: "Nom" %>
  <%= f.input :category, collection: ["Statuts", "Kbis", "Pitch", "Comptes", "Autre"], label: "Catégorie" %>
  <%= f.input :d_url, as: :file, label: "Document" %>
  <%= f.input :d_url_cache, as: :hidden %>
  <%= f.button :submit, "Ajouter" %>
<% end %>

</div>

<hr>

<h3>TEMPLATES DISPONIBLES</h3>
<div style='display: flex, padding: 15px;'>
  <%= cl_image_tag("superclosing/bs_template",
      width: 100, height: 150, crop: :fill) %>
  <%= cl_image_tag("superclosing/opening_age_pv",
      width: 100, height: 150, crop: :fill) %>
  <%= cl_image_tag("superclosing/opening_age_presence",
      width: 100, height: 150, crop: :fill) %>
  <%= cl_image_tag("superclosing/dps_suppression",
      width: 100, height: 150, crop: :fill) %>
</div>



<hr>

<h3>LANCER LE CLOSING ?</h3>
<p>Pour lancer le closing, assurez-vous que tous les investisseurs sont renseignés et que votre page personnelle est remplie à 100%.</p>


<hr>
<%= link_to 'Retour à la liste des opérations', company_operations_path(@operation.company.id) %>
<br>
<br>
<%= link_to 'Retour au menu principal', company_path(@operation.company.id) %>

