<div id="slide">
  <h4><%= @operation.name %> </h4>
   <%if @operation.status == 'Pending' %>
    <p>En cours</p>
    <% end %>

  <h4 class="huge"><%= (money_without_cents @shares_values * 10000 / @operation.target_amount_cents) %> %</h4>
  <p>des fonds collectés</p>

  <p>Montant visé : <%= money_without_cents @operation.target_amount %> €
  <br>Date de fin prévue : <%= @operation.expected_closing_date%>
  </p>

  <button type="button" class="btn btn-superclosing"> Lancer les signatures </button>
</div>

<div class='page-header'>
   <h3><strong><%= @operation.name %></strong> </h3>

   <h4>Vous y êtes presque !</h4>
   <div class="container-fluid progressbar-container">
       <ul class="progressbar progressbar-2">
          <li id = 'step-done'>Capital</li>
          <li class="active" id='step-done'>Opération</li>
          <li>Invitez vos investisseurs</li>
          <li>Passez aux signatures !</li>
       </ul>
     </div>
</div>

<div class='container-fluid page-content'>

  <div class='row'>

    <div class ='col-xs-10'>

      <div class='home-card'>
        <div class = 'home-card-header'>
          <h4 class="card-title">Le club des Investisseurs</h4>
        </div>
        <div class="investors-corner">
          <div class="investor-list">
            <div class="investor-list-header">
              <div class="investor-list-header-name">
                <span>Nom</span>
              </div>
              <div class="investor-list-header-email">
                <span>Email</span>
              </div>
              <div class="investor-list-header-amount">
                <span>Investissement</span>
              </div>
              <div class="investor-list-header-shares">
                <span># Actions</span>
              </div>
              <div class="investor-list-header-status">
                <span>Status</span>
              </div>
              <div class="investor-list-header-delete">
              </div>
            </div>

            <ul>
              <% @operation.investments.each do |invest|%>
                <li>
                  <div class="investor-list-content">
                    <div class="investor-list-header-name">
                      <%= invest.user.first_name %> <%= invest.user.last_name %>
                    </div>
                    <div class="investor-list-header-email">
                      <%= invest.user.email %>
                    </div>
                    <div class="investor-list-header-amount">
                      <%= money_without_cents (invest.number_of_shares * ( invest.share_premium + invest.share_nominal_value ) )%> €
                    </div>
                    <div class="investor-list-header-shares">
                      <%= money_without_cents invest.number_of_shares %>
                    </div>
                    <div class="investor-list-header-status">
                      <% if invest.status == 'pending' %>
                        Invité
                      <% end %>
                    </div>
                    <div class="investor-list-header-delete">
                      <%= link_to investment_path(invest), method: :delete, remote: true do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>

            <div class="investor-list-add">
              <%= link_to company_operation_investors_path(@operation.company.id, @operation.id) do %>
                <button type="button" class="btn btn-form-action gauche"> Ajouter un investisseur </button>
              <% end %>
            </div>
          </div>

          <div class="graph">
            <p> Progression : <%= (@shares_values * 100/@operation.target_amount.to_f.round(0)) %> %</p>
            <canvas id="mySecondChart" data-share="<%= @operation.target_amount %> - <%= @shares_values %> ">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class ='col-xs-10'>

      <div class='home-card'>
        <div class = 'home-card-header'>
          <h4 class="card-title">La Data Room</h4>
        </div>
        <div class="operation-card-body-text">
          INFO : Retrouvez ici l'ensemble des documents relatifs à l'opération en cours : Pitch, Business Plan, Etats financiers, documents juridiques... Ils seront accessibles pour vos investisseurs.
        </div>

        <div class="operation-card-body">


          <div class="container-fluid docs-container">
            <div class="doccard">
              <div> <%= cl_image_tag("superclosing/bs_template",
              width: 100, height: 150, crop: :fill) %>
              </div>
              <p>Bon de souscription</p>
            </div>


            <div class="doccard">
              <div> <%= cl_image_tag("superclosing/opening_age_pv",
              width: 100, height: 150, crop: :fill) %>
              </div>
              <p>PV d'ouverture d'AG</p>
            </div>

            <div class="doccard">
              <div> <%= cl_image_tag("superclosing/opening_age_presence",
              width: 100, height: 150, crop: :fill) %>
              </div>
              <p>Ouverture d'AG</p>
            </div>

            <div class="doccard">
              <div> <%= cl_image_tag("superclosing/dps_suppression",
              width: 100, height: 150, crop: :fill) %>
              </div>
              <p>Suppression de DPS</p>
            </div>


            <% @operation.s_documents.each do |s_document| %>
            <div class="doccard">
              <div> <%= cl_image_tag @s_document.d_url, height: 100, width: 70, crop: :fill  %>
              </div>
              <p><%= s_document.title  %></p>
            </div>

            <% end %>

            <div class="doccard">
              <p style="width: 100; height: 150; background-color: white;"> + </p>
              <p>Uploader un document</p>
            </div>

          </div>
        </div>
        <%= link_to "#" do %>
          <button type="button" class="btn btn-superclosing gauche"> Ajouter un document</button>
        <% end %>
        <div class="gauche">
          <%= simple_form_for [@operation.company, @operation, @s_document], method: :post do |f| %>
            <%= f.input :title, label: "Nom" %>
            <%= f.input :category, collection: ["Statuts", "Kbis", "Pitch", "Comptes", "Autre"], label: "Catégorie" %>
            <%= f.input :d_url, as: :file, label: "Document" %>
            <%= f.input :d_url_cache, as: :hidden %>
            <%= f.button :submit, "Ajouter" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>

    <div class ='col-xs-10'>

      <div class='home-card'>
        <div class = 'home-card-header'>
          <h4 class="card-title">SIGNATURES</h4>
        </div>

        <div class="operation-card-body">
          <div class="operation-card-body-text">
            INFO: Avant de générer la documentation juridique pour cette opération, prenez le temps de bien vérifier les informations concernant la société (raison social, capital), les investisseurs (nom, prénom, adresse) et l'opération (montants, nombre d'actions concernées). Ne vous inquiétez pas vous pourrez revoir les documents avant leur envoi à vos investisseurs et la signature électronique.
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<hr>
<%= link_to 'Retour à la liste des opérations', company_operations_path(@operation.company.id) %>
<br>
<%= link_to 'Retour au menu principal', company_path(@operation.company.id) %>
